@import '../../globalStyle'

.information-container
    display: flex!important
    width: 80%
    margin: 0 auto
    margin-bottom: 2%
    padding: 0.5%
    text-align: left
    background: $background-blue-color

    &-card
        width: 25%
        margin: 0 auto
        color: white
        background: $background-blue-color
        border: 1px solid white
        transition: 1s
        box-shadow: 1px 1px 1px 1px white

        &-title
            color: $background-rose-color
