@import '../../globalStyle'

.categories-container-list
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 80%
    margin: 0 auto
    text-align: center
    color: $background-third-color
    padding: 2%
    background: $background-secondary-color
    border-radius: 5px
    text-align: left
    margin-top: 1.5%
    border-radius: 20px

    &-section-title
        font-weight: 700

    &-section-content
        width: 100%
        text-align: left
        list-style: none
        color: white!important

a
    list-style: none
    color: white!important

a:hover
    cursor: pointer

hr
    width: 60%
    margin: 0 auto
    margin-top: 2.5%
    background: $background-secondary-color
    height: 3px
    border-radius: 50px

@media screen and (max-width: $medium-display)
    .categories-container-list
        width: 85%
        display: block
        padding: 4%

        &-section-content
            width: 100%
            text-align: left
            list-style: none

        &-section-title
            margin-top: 1%
