@import '../../globalStyle'

.home-container-title
    display: flex
    margin: 0 auto
    width: 80%
    padding-top: 4.5%
    padding-bottom: 4.5%

    &-left
        display: flex
        align-items: center
        width: 56%
        background: $background-primary-color
        color: white
        padding: 3%

        &-h1
            font-weight: 700

    &-right
        width: 44%

        &-img
            max-width: 100%
            height: auto

// work-with-us 
.home-container-work-with-us-container
    margin-top: 2%
    margin-bottom: 2%
    color: white
    border-top-left-radius: 100px
    border-top-right-radius: 100px

    &-title
        font-weight: 700

    &-button
        background: $background-third-color!important
        color: white

    &-button:hover
        background: $background-third-color!important
        color: black

@media (max-width: 768px)
    .home-container-title-right-img
        display: none

    .home-container-work-with-us-container
        margin-top: 5%
